.bg-image{
  background-repeat: no-repeat;
  background-size: cover;
}
.icon-container{
  a{
    height: 1.75rem;
  }
  #pokeball{
    background-image: url('../icon/pokeball_gray.png');
  }
  #heart{
    background-image: url('../icon/valentines-heart.png');
  }
  #data{
    background-image: url('../icon/data.png');
  }
}

#close-modal{
  background-image: url('../icon/cross-out.png');
}

@media (min-width: 576px){
  .modal-dialog {
    max-width: 69rem;
  }
}
